--- 
layout: layouts/base.njk
templateClass: tmpl-home
---

<style>
  {{"site/_includes/layouts/home/home.scss" | sass | safe}}
</style>

<section class="home container p-4 mx-auto">
  <section class="home__splash absolute flex justify-center inset-0 overflow-hidden">
    {% svg "sardine-shape" %}
  </section>
</section>