--- 
layout: layouts/base.njk
templateClass: tmpl-home
---

<style>
  {{"site/_includes/layouts/home/home.scss" | sass | safe}}
</style>

<section class="home container p-4 mx-auto">
  <h1 class="text-6xl font-bold text-center">Let's build something amazing!</h1>
</section>