<style>
  {{"site/_includes/components/footer/footer.scss" | sass | safe}}
</style>
<footer class="footer container mx-auto mt-auto p-4">
  <small>
    The amazing icons were designed by <a rel="noreferrer noopener" target="_blank" href="https://iconmonstr.com/">iconmonstr</a>
  </small>
</footer>