<style>
  {{"site/_includes/components/header/header.scss" | sass | safe}}
</style>


<header class="header flex container mx-auto justify-between p-4">
  <a class="header__logo" href="{{ '/' | url }}">
  <span class="relative block">
  {% svg "sardine-bones" %}
  {% svg "sardine-shape" %}
  </span>
  </section>
  </a>
</header>

<script defer src="{{ 'site/_includes/components/header/header.ts' | rollup | safe }}"></script>
