@import "./../../../_assets/styles/utilities";

.header {
  &__logo {
    width: 150px;
    &:hover {
      #sardineshape {
        opacity: 1;
      }
    }
  }
  svg {
    position: absolute;
    top: 0;
    left: 0;
    fill: $base-color;
  }
  #sardineshape {
    opacity: 0;
    transition: opacity linear 0.25s;
    fill: $base-color;
  }
}
